<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need)</span></div>

requirements of a programming langauage:
- statement that you can branch with
- mindlessly repeat things over and over, quickly

# What to expect in this chapter

- repeat a task over and over again.
  - eg running the same statistical analysis on many experimental data sets or rename files
  
Loops (aka iterations): one of the most valuable features of any programming language.

Python offers two mechanisms for looping. 
- for statement: more used of the two.
- while statement

# 1 The for iterator

In [5]:
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

Poor way of doing this:

In [4]:
name=real_names[0]
print(f"{name} is a Marvel superhero!")

name=real_names[1]
print(f"{name} is a Marvel superhero!")

name=real_names[2]
print(f"{name} is a Marvel superhero!")

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephen Strange is a Marvel superhero!

1. does scale very well (imagine if you have a 100 names!),
2. cumbersome to make changes, you have to do it three times - annoying and inefficient
3. highly error prone, since you need to type something new (even if you are copying and pasting most of it).
- better to let computer repeat things with loop

## 1.1 for with a list

In [6]:
for name in real_names:
    print(f"{name} is a Marvel superhero!")

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephen Strange is a Marvel superhero!

In [7]:
for name in real_names:
    print(f"{name.upper()} is a Marvel superhero!")

NATASHA ROMANOFF is a Marvel superhero!
TONY STARK is a Marvel superhero!
STEPHEN STRANGE is a Marvel superhero!

In [8]:
for name in real_names:
    print(f"{name.lower()} is a Marvel superhero!")
    print('-'*50)

natasha romanoff is a Marvel superhero!
--------------------------------------------------
tony stark is a Marvel superhero!
--------------------------------------------------
stephen strange is a Marvel superhero!
--------------------------------------------------

Structure of the loop:
- it goes through the list and assigns name the value of each element of the list.
- runs the code-block using this value of name -- mindless repetition only works for things within the block

the code block is designated by using : and tabs like with if.

- take note ofindentation since the loop only works for things within the block
- keep what you want to run in the loop inside the block, what you don't want run in the block outside

example:

In [14]:
for name in real_names:
    print('-'*50)
    print(f"{name.upper()} is a Marvel superhero!")
print('-'*50)

--------------------------------------------------
NATASHA ROMANOFF is a Marvel superhero!
--------------------------------------------------
TONY STARK is a Marvel superhero!
--------------------------------------------------
STEPHEN STRANGE is a Marvel superhero!
--------------------------------------------------

In [15]:
for name in real_names:
    print('-'*50)
    print(f"{name.upper()} is a Marvel superhero!")
    print('-'*50)

--------------------------------------------------
NATASHA ROMANOFF is a Marvel superhero!
--------------------------------------------------
--------------------------------------------------
TONY STARK is a Marvel superhero!
--------------------------------------------------
--------------------------------------------------
STEPHEN STRANGE is a Marvel superhero!
--------------------------------------------------

- the variable that you use can be anything but it will be difficult to understand because x is cryptic
- use something that is easy to understand

In [16]:
for x in real_names:
    print(f"{x} is a Marvel superhero!") #variable that you use can be anything

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephen Strange is a Marvel superhero!

## 1.2 for with enumerate

In [95]:
super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

**Count with enumerate**

In [96]:
count = 0
for real_name in real_names:
    print(f'{count}: {real_name} is a Marvel Superhero')
    count = count + 1

0: Natasha Romanoff is a Marvel Superhero
1: Tony Stark is a Marvel Superhero
2: Stephen Strange is a Marvel Superhero

- the for loop only accepts one list, we need to do something else to access the data in both lists.
- One option is to use enumerate().
- Enumerate - something that keeps count

In [97]:
for count, real_name in enumerate(real_names):
    print(f'{count}: {real_name} is a Marvel superhero!')

0: Natasha Romanoff is a Marvel superhero!
1: Tony Stark is a Marvel superhero!
2: Stephen Strange is a Marvel superhero!

**Index other lists with enumerate**

- enumerate() not only gives the elements of the list, it also gives a number (that is stored in count).
- besides counting, we can use the count given by enumerate() to index the other list

In [98]:
for index, real_name in enumerate(real_names):
    superhero_name = super_names[index]
    print(f'{real_name} is {superhero_name}!')

Natasha Romanoff is Black Widow!
Tony Stark is Iron Man!
Stephen Strange is Doctor Strange!

- changed the variable name used with enumerate() to (count and index): matches their logical use.
- only rule for variables is not to use keywords
- make it it easy to immediately see what you are doing (i.e., the intention) wiht the code.

In [99]:
hero_ids = ["Captain America", "Batman", "Hulk", "Super Man",]
civilian_ids = ["Steve Rogers", "Bruce Wayne","Bruce Banner", "Clark Kent"]
universe = ["Marvel", "DC", "Marvel", "DC"]

for new_index, civ_id in enumerate(civilian_ids):
    hero_id = hero_ids[new_index]
    which_universe = universe[new_index]
    print(f'{civ_id} is {hero_id} in the {which_universe} Universe!')

Steve Rogers is Captain America in the Marvel Universe!
Bruce Wayne is Batman in the DC Universe!
Bruce Banner is Hulk in the Marvel Universe!
Clark Kent is Super Man in the DC Universe!

**can start counting anywhere**  
Although by default, enumerate() starts counting from 0, can change it to start at another value, say 100.

In [100]:
for count, name in enumerate(real_names, 100):
    print(f'{count}: {name} is a Marvel superhero!')

100: Natasha Romanoff is a Marvel superhero!
101: Tony Stark is a Marvel superhero!
102: Stephen Strange is a Marvel superhero!

## 1.3 for with range

**Example 1**   
We can use range() to get the for loop to run a given number of loops (5 in this example).

In [101]:
for i in range(5):
    print(i)

0
1
2
3
4

**Example 2**
We can tailor the start and end values

In [102]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

**Example 3**  
We can adjust the step size.

In [103]:
for i in range(1, 10, 3):
    print(i)

1
4
7

In [104]:
for i in range(10, 1, -3):
    print(i)

10
7
4

**Note**
- Functions like range() and enumerate() only work with looping structures.
- range() always ends one short of the ending number.

**back to the superhero names example**

In [105]:
super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]
universe = ["Marvel", "Marvel", "Marvel"]

In [106]:
len(real_names)

3

In [107]:
for index in range(len(real_names)):   #range(3)
    real_name = real_names[index]
    super_name = super_names[index]
    which_universe = universe[index]
    print(f'{index} : {real_name} is {superhero_name} in the {which_universe} Universe!')

0 : Natasha Romanoff is Doctor Strange in the Marvel Universe!
1 : Tony Stark is Doctor Strange in the Marvel Universe!
2 : Stephen Strange is Doctor Strange in the Marvel Universe!

- for loops are essential
- used len(real_names) to get how many times the loop should run

In [108]:
for n in range(10):
    print('apples and oranges')

apples and oranges
apples and oranges
apples and oranges
apples and oranges
apples and oranges
apples and oranges
apples and oranges
apples and oranges
apples and oranges
apples and oranges

# 2 while

- run the loop while the condition is true
- check condition at the start and begin another loop if it is true
- **do not need to know beforehand how many iterations are needed**

In [109]:
number = 0

while number < 5: #loop keeps going when number less than 5
    print(number)
    number += 1

0
1
2
3
4