<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

# Exercise 1 (Celcius to Farenheit)

formula for celcius to farenheit:  
(x°C × 9/5) + 32

In [14]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

In [49]:
for temperature in temperatures_celsius:
    f = (temperature * 9/5) + 32
    print(f'{temperature} degrees celcius is {f} in farenheit')

0 degrees celcius is 32.0 in farenheit
5 degrees celcius is 41.0 in farenheit
10 degrees celcius is 50.0 in farenheit
15 degrees celcius is 59.0 in farenheit
20 degrees celcius is 68.0 in farenheit
25 degrees celcius is 77.0 in farenheit
30 degrees celcius is 86.0 in farenheit
35 degrees celcius is 95.0 in farenheit
40 degrees celcius is 104.0 in farenheit
45 degrees celcius is 113.0 in farenheit
50 degrees celcius is 122.0 in farenheit

# Exercise 2 Multiplication table

In [25]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

In [26]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3	A1	A2	A3

B1	B2	B3	B1	B2	B3

C1	C2	C3	C1	C2	C3

In [50]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    for number in [4, 5, 6]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3	A4	A5	A6

B1	B2	B3	B4	B5	B6

C1	C2	C3	C4	C5	C6

In [28]:
for letter in ['A', 'B', 'C', 'D', 'E', 'F']:
    for 
    for number in [1, 2, 3, 4, 5]:
        print(f'{letter}{number}', end='\t')
    for number in [6, 7, 8]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3	A4	A5	A6	A7	A8

B1	B2	B3	B4	B5	B6	B7	B8

C1	C2	C3	C4	C5	C6	C7	C8

D1	D2	D3	D4	D5	D6	D7	D8

E1	E2	E3	E4	E5	E6	E7	E8

F1	F2	F3	F4	F5	F6	F7	F8

**Task: Print a multiplication table up to 5 using nested for loops**

In [53]:
for first_num in [1, 2, 3, 4, 5]:
    print(f'{first_num} :', end='\t')
    for number in [1, 2, 3, 4, 5]:
        print(first_num*number, end='\t')
    print('\n')

1 :	1	2	3	4	5

2 :	2	4	6	8	10

3 :	3	6	9	12	15

4 :	4	8	12	16	20

5 :	5	10	15	20	25